:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img-container{
  height: 350px;
  width: 300px;
}
.qr-code {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  object-fit: contain;
}
